html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Monda', sans-serif;
	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*my code starts here------------------------*/

.profile-pic{
    height:250px ;
    width: 250px;
    border-radius: 50%;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    
    text-align: center;
    text-decoration: none;
    border-radius:50%;
}


.fa:hover {
    opacity: 0.7;
}


/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background-color: red;
    color: white; 
}

header{
text-align: center;
padding-top: 40px;
background-image: url(images/vertical-planks.jpg); 
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
margin-left:200px;
margin-right:200px;

    
}
#name{
   text-align: center;
   
}

.social{
    margin-left: 1210px;  
}

a{
    color:rgb(254, 255, 255);
}

a:hover{
    color:tomato;
}

p{
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}
.chapter1{
    text-align: center;
    background-image: url(images/vertical-planks.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left:200px;
    margin-right:200px;
    padding-top:40px;
    
}

.chapter2{
    text-align: center;
    background-image: url(images/vertical-planks.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left:200px;
    margin-right:200px;
    padding-top: 40px;
    
}
.chapter3{
    text-align: center;
    background-image: url(images/vertical-planks.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left:200px;
    margin-right:200px;
    padding-top: 40px;
    padding-bottom:80px;
}

.young-alex{
    height: 500px;
    width: 400px;
}

.outer{
    background-color: black;
}
